<h1>Main menu</h1>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/attribute">View all emails</a></li>
  <li><a href="/contacts/new">Add a new contact</a></li>
</ul>
<p>Please select one of the options above</p>