<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    


  </style>
</head>
<body>
  <!-- <div id="main">
    <div id="header"></div>
    <div id="sidebar"></div>
    <div id="content"></div>
    <div id="footer"></div>
  <div> -->

  <main>
    <header>
      <h1>HTML & CSS Fundamentals</h1>
      <h2>Brought to you by Bitmaker Labs</h2>
    </header>

    <nav class="site-nav">
      <ul>
        <li class="menu-item">Menu Item 01</li>
        <li class="menu-item">Menu Item 02</li>
        <li class="menu-item">Menu Item 03</li>
        <li class="menu-item">Menu Item 04</li>
      </ul>
    </nav>
    
    <aside></aside>
    
    <section>
      <article>
        <header>
          <h1></h1>
          <p><a>Hello</a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid nihil tempora nam vitae, eaque in distinctio officiis temporibus doloremque, necessitatibus id molestias laboriosam dolorum, facere voluptatem omnis libero. Odit.</p>
        </header>
        
      </article>
    </section>
    
    <footer>
      <nav>
        <ul>
          <li>Menu Item 01</li>
          <li>Menu Item 02</li>
          <li>Menu Item 03</li>
          <li>Menu Item 04</li>
        </ul>
      </nav>
    </footer>
  </main>
</body>
</html>