<!-- This does a post. It's bad practise to use GET because you're not reading anything -->
<!-- Notice the submission goes to /contacts -->
<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <fieldset>
    <legend>Name</legend>
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" placeholder="John">
    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" placeholder="Doe">
  </fieldset>
  <fieldset>
    <legend>Other details</legend>
    <label for="email">Email: </label>
    <input type="text" name="email" placeholder="john@bitmaker.com">
    <label for="note">Notes: </label>
    <input type="text" name="note" placeholder="Addendum">
  </fieldset>
  <input type="submit" name="Submit">
</form>