<div class="contact">
  <p><span>First name:</span> <%= @contact.first_name %></p> 
  <p><span>Last name:</span> <%= @contact.last_name %></p>
  <p><span>Email:</span> <%= @contact.email %></p>
  <p><span>Notes:</span> <%= @contact.notes %></p>
</div>